wheel==0.33.1
# Kivy with opencv4 support
https://github.com/kivy/kivy/archive/5fc5385.zip#egg=kivy
rpyc==4.0.2
pyzbar==0.1.8
Pillow==5.4.1
qrcode==6.0
numpy==1.16.1
cryptography==2.6.1
opencv-python==4.0.0.21
